{% extends "base.j2" %}

{% block title %}
{{ page.title|striptags}} |
{% endblock title %}

{% set content_title = page.title|striptags %}

{% block content %}
<div class="page">
  <div class="divide-y divide-gray-200">
    <div class="flex pb-0 justify-center">
      <article class="pt-10 pb-8 prose max-w-prose">
        {{ page.content }}
      </article>
    </div>
  </div>
</div>
{% endblock content %}